<div class="container">
  <md-card class="profile-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Judith Rohatiner</md-card-title>
      <md-card-subtitle>Software Engineer</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/judith.jpg" alt="Profile Photo">
    <md-card-content>
      <p>Its great to do what I love!</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>UPDATE</button>
      <button md-button>CANCEL</button>
    </md-card-actions>
  </md-card>
</div>


